<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap">

</head>

<body class="dracula-theme">
    {% include 'navbar_component.html' %}
    <div class="container">
        <div class="form-panel">
            <h2>About Sistym</h2>

            <h3>R Notifications</h3>
            <li> <strong>Version: </strong>1.0.0</li>
            <li> <strong>Developed: </strong>with the flask framework</li>
            <li> <strong>Screen support: </strong>Desktop and Tablets via Web Browser</li>
                        
           

            <p>
                R Notifications is an application designed to create push notifications using the OneSignal SDK. 
                It was developed as part of the final project for the CC50 course at Harvard EAD, completed in 2024 
                and promoted by Grupo Estudar in Brazil. The application was built with Flask/Python, with the aim of 
                simplifying the testing process when implementing notifications, making life easier for developers.
            </p>
            <p>
                The source code is available in a public repository so that it can be downloaded,
                modified and distributed, as long as due credit is given to the author,
                Marcos Fabiano Correia Rangel.
            </p>

            <p>
                Feedback on errors, suggestions for improvements, constructive criticism and compliments are very welcome 
                and can be sent via email in the contacts section, where channels are available for this purpose.
            </p>

        </div>
        <div class="form-panel">
            <h2>About Developer</h2>

            <h3>Marcos Fabiano Correia Rangel</h3>
            <p>The only way to achieve the impossible is to believe it’s possible.</p>

        </div>
        <div class="form-panel">
            <h3>Flutter Developer</h3>
            <p>Passionate about nature, music, felines, technology, and astronomy. With 5 years of experience in
                <strong>mobile
                    development</strong>,
                4 of which focused on <strong>Flutter,</strong> I have developed solid expertise in
                <strong>Dart</strong> and creating <strong>Andoid</strong> and <strong>iOS</strong>
                applications.
            </p>
            <p>I have skills in <strong>Firebase, MySQL, REST API integration,</strong> and versioning tools
                like,<strong> GitHub, and
                    GitLab.</strong></p>
            <p>Additionally, I'm familiar with Clean Dart, unit testing, agile methodologies, and Jira for project
                management.
                I also have a basic understanding of Clean Architecture, SOLID principles, Design Patterns, and Java.
            </p>

        </div>
        <div class="form-panel">
            <h3>Academic Background:</h3>
            <ul>
                <li>Postgraduate in Mobile App Development, IFSP. Completed: 2020.</li>
                <li>Graduation in IT Management, Estácio Sá. Completed: 2016.</li>
                <li>Technical: IT Technician, ETEC, Centro Paula Sousa. Completed: 2010.</li>
            </ul>
        </div>
        <div class="links-column">
            <div class="form-panel">
                <h3>Social Media</h3>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/marcos-fabiano-correia-rangel/"
                    target="_blank">LinkedIn Profile</a>
                </p>
                <p>GitHub: <a href="https://github.com/correiarangel" target="_blank">GitHub Profile</a></p>
                <p>Medium: <a href="https://medium.com/@okcomputer.use.linux" target="_blank">Medium Profile</a></p>
                <p>Facebook: <a href="https://www.facebook.com/correiarangel">Facebook</a></p>
            </div>
        </div>
        <button onclick="window.location.href='/'" class="btn-dracul"
            style="position: fixed; bottom: 20px; right: 20px;">
            Back
        </button>
    </div>

</body>
{% include 'folder_component.html' %}
</html>