<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Notifications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap">
</head>
<body class="dracula-theme">
    {% include 'navbar_component.html' %}

    <div class="container">
        <h2>Send Push Notifications -></h2>

        <div class="form-panel">
            <form id="notification-form" action="/send_notification" method="POST">
                <label for="app_id">App ID:</label>
                <input type="text" id="app_id" name="app_id" placeholder="Enter your App ID..." required>

                <label for="api_key">API Key:</label>
                <input type="text" id="api_key" name="api_key" placeholder="Enter your API KEY..." required>

                <div class="form-row">
                    <div class="form-group">
                        <label for="heading_pt">Title (PT):</label>
                        <input type="text" id="heading_pt" name="heading_pt" placeholder="Enter your title pt br..." required>
                    </div>
                    <div class="form-group">
                        <label for="message_pt">Message (PT):</label>
                        <input type="text" id="message_pt" name="message_pt" placeholder="Enter your message pt br..." required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="heading_en">Title (EN):</label>
                        <input type="text" id="heading_en" name="heading_en" placeholder="Enter your title en ..." required>
                    </div>
                    <div class="form-group">
                        <label for="message_en">Message (EN):</label>
                        <input type="text" id="message_en" name="message_en" placeholder="Enter your message en..." required>
                    </div>
                </div>

                <!-- Checkbox All Users e Campo External ID -->
                <div class="form-row">
                    <input type="checkbox" id="check_all_users" name="all_users">
                    <label for="check_all_users">Send All User:</label>

                    <label id="external_id_label" for="external_id">External ID:</label>
                    <input type="text" id="external_id" name="external_id" placeholder="Enter your external ID">
                </div>

                <label for="launch_url">Launch URL (optional):</label>
                <input type="text" id="launch_url" name="launch_url" placeholder="Enter the Launch URL...">
                
                <label for="small_icon">Small Icon URL (optional):</label>
                <input type="text" id="small_icon" name="small_icon" placeholder="Enter your small icon if you want...">

                <div class="button-group">
                    <button type="submit" class="btn-green">Send Notification</button>
                    <button type="button" class="btn-orange" onclick="clearAll()">Clear All</button>
                    <form action="/clear_session" method="POST" style="display: inline;">
                        <button type="submit" class="btn-red">Clear Session Data</button>
                    </form>
                </div>
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        
        <h3>Console Logs</h3>
        <div class="form-panel">
            <div class="log-container">
                <pre id="console-log">{{ log_output }}</pre>
            </div>
            <br />
            <button type="button" class="btn-green" onclick="downloadLog()">Download File Logs</button>
        </div>

        <button onclick="window.location.href='/'" class="btn-dracul" style="position: fixed; bottom: 20px; right: 20px;">
            Back
        </button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

{% include 'progress_dailog_component.html' %}
{% include 'folder_component.html' %}
</html>
