<!-- Rodapé -->
<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <h3>Contact</h3>
            <p>Email: <a href="mailto:okcomputer.use.linux@gmail.com">okcomputer.use.linux@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/marcos-fabiano-correia-rangel/" target="_blank">LinkedIn Profile</a></p>
        </div>

        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/form">Send Notifications</a></li>
                <li><a href="/messages">All Messages</a></li>
                <a href="/onesignal-status" class="nav-link">Status OneSignal</a>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        <div class="footer-rights">
            <p>&copy; 2024 R Notifications. All rights reserved.</p>
        </div>
    </div>
</footer>
