<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body class="dracula-theme">
    <!-- Incluir a Navbar -->
    {% include 'navbar_component.html' %}

    <!-- Cabeçalho com imagem -->
    <header class="header">
        <img src="{{ url_for('static', filename='images/heard.jpeg') }}" alt="Header Image" class="header-image">
        <div class="header-text">
            Welcome to the Push Notifications System
            Test your OneSignal implementation easily
            <div class="btn-neader">
                <button onclick="window.location.href='/form'"> Send Notification </button>
                <button onclick="window.location.href='/messages'">All Messages Send</button>
            </div>
        </div>


    </header>

    <!-- Contêiner para os painéis -->
    <div class="panels-container">
        <!-- Painel de conteúdo principal -->
        <div class="main-panel">
            <h2>Principal Content</h2>
            <p>
                The Push Notification App is a practical tool to facilitate initial testing with OneSignal and
                also for production use when sending push notifications.
            </p>
            <h3> Benefits:</h3>
            <p>
                Initial Testing and Production: Allows you to easily create and trigger custom notifications, simply by
                entering the App ID and API Key provided by OneSignal.
                Cache Clearing: We recommend clearing the cache and session data when exiting, especially in production
                environments, to avoid security issues.
                Attention in Production: Once OneSignal is active for your end users, use the tool with caution to avoid
                testing in real environments.
            <p>
                ⚠️ Important: Since it is hosted on a free service, the tool may be unstable or temporarily offline.
            </p>
            </p>


        </div>

        <!-- Coluna de links em um contêiner à direita -->
        <div class="link-panel">
            <div class="links-column">
                <h3>Tools</h3>
                <ul>
                    <li><a href="https://status.onesignal.com/#" target="_blank">Status OneSignal</a></li>
                </ul>

                <h3>Useful Documents</h3>
                <ul>
                    <li><a href="https://flask.palletsprojects.com/" target="_blank">Docs Flask</a></li>
                    <li><a href="https://documentation.onesignal.com/" target="_blank">OneSignal Documentation</a></li>
                    <li><a href="https://documentation.onesignal.com/reference/rest-api-overview" target="_blank">REST
                            API Reference Guide</a></li>

                    <li><a href="https://documentation.onesignal.com/docs/flutter-sdk-setup"
                            target="_blank">OneSignal/Flutter SDK
                            Setup</a></li>
                    <li><a href="https://documentation.onesignal.com/docs/android-sdk-setup"
                            target="_blank">OneSignal/Android SDK
                            Setup</a></li>
                    <li><a href="https://documentation.onesignal.com/docs/ios-sdk-setup" target="_blank">OneSignal/iOS
                            SDK
                            Setup</a></li>

                </ul>

                <h3>Courses</h3>
                <ul>
                    <li><a href="https://www.estudarfora.org.br/cursos/cc50/?utm_source=google_ads&utm_medium=cpc&utm_campaign=cc-50&referral=google_ads-cpc-cc-50--&gad_source=1&gclid=Cj0KCQiA_qG5BhDTARIsAA0UHSJEtkFZhIx566SaIWcvJcoa7TBlxjFSjt4bfGffx86l57G--Ua2LkQaAncdEALw_wcB"
                            target="_blank">CC50 HARVARD COMPUTER SCIENCE COURSE IN BRAZIL</a></li>
                    <li><a href="https://pll.harvard.edu/course/cs50-introduction-computer-science"
                            target="_blank">CS50: Introduction to Computer Science</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
{% include 'folder_component.html' %}

</html>